<h1>Edit Form</h1>
<%= form_for @song do |f| %>
  Name: <%= f.text_field :name %><br />
  Artist ID: <%= f.number_field :artist_id %><br />
  Genre ID: <%= f.number_field :genre_id %><br />

  <%= f.submit "Update Song" %>
<% end %>
